@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');


@font-face {
    font-family: 'Minecraft';
    src: url("fonts/minecraft/minecraft.ttf") format('truetype'),
    url("fonts/minecraft/Minecraft.eot") format('eot'),
    url("fonts/minecraft/Minecraft.woff") format('woff'),
    url("fonts/minecraft/Minecraft.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}