#navbar {
    z-index: 1 !important;
}

#vaporis_player_head {
    width: 20px;

    border-radius: 50px;
}

#vaporis_center_navbar {
    padding-left: 10%;
}

#navbar li a {
    font-weight: bold !important;
    color: white;
}

.dropdown-menu li a {
    color: black !important;
}

@media screen and (max-width: 768px) {
    #vaporis_center_navbar {
        padding-left: -1% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #vaporis_top_navbar {
        min-width: 100% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #vaporis_center_navbar {
        margin-left: -10% !important;
    }
}

.nav-active {
    background-color: #00b3ee !important;
    border-radius: 1px;
}