html, body {
    height: 100%;
    margin: 0;
}

body{
    background-color: black !important;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
    font-family: "Josefin Slab", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

#page{
    color: ghostwhite !important;
    font-weight: bold !important;
}

#page_title {
    font-style: normal;
    font-weight: bold !important;
}

#section0 {
    margin-top: 51px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -51px;
}

.page_label, .profile_link h5 {
    background-color: rgba(15,15,15,0.5);
    border-radius: 5px;
    padding: 2px 4px;
}

/* TO USE CUSTOM FONTS :
#vaporis_connect_players h4 {
    font-family: Minecraft, sans-serif !important;
}*/

#fade {
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 10 !important; /*-- Bootstrap navbar z-index is 20 --*/
}

.popup_block{
    position: fixed;
    display: none;
    width: 20%;
    background: #fff;
    padding: 0px 10px 5px;
    font-size: 1.2em;
    top: 50%; left: 50%;
    border: 10px solid #ddd;
    z-index: 20 !important;

    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

a.btn_close {
    float: right;
    margin: -23px -23px 0 0;
    color: grey;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #ddd;

    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 15px #000;
    -moz-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}

/*-- HOME CSS --*/

#vaporis_desc {
    position: absolute;
    margin-top: -100px;
    margin-left: 13%;
    background-color: rgba(15,15,15,0.5);
    padding: 3px 5px;
    border-radius: 5px;
}

#vaporis_ip, #vaporis_ip h1{
    background-color:rgba(0,0,0, 0.75);
    font-family: "Courgette" !important;
    font-style: normal;
    margin-top: -4%;
    border-radius: 7px;
}

#vaporis_connect_players {
    background-color:rgba(197,197,197, 0.75);
    width: 30%;
    border-radius: 15px;
    padding: 10px 20px;
}

/*-- HOME INFORMATIONS CSS --*/

#vaporis_informations{
    margin-top: 125px;
    width: 500px;
}

.infos {
    margin-left: 100px;
    margin-top: -30px;
    padding: 0px 20px;
    height: 136px;
    overflow: hidden;

    font-style: normal !important;
    font-family: "Bad Script";

    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 10px;
}

.infos h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.infos p {
    font-size: 14px;
    font-weight: 500;
}

.infos_img {
    width: 110px;
    margin-top: 5px;
    margin-left: -20px;
    float: left;

    border-radius: 100px;
    border: medium white;
    background-color: white;

    z-index: 5;
}

.infos_conquest {
    margin-top: -10px;
}

.infos_influence {
    margin-top: -20px;
}

/*-- HOME SUPPORT CSS --*/


#vaporis_support {
    border: none !important;
    margin-top: 75px !important;
    background-color: rgba(0, 0, 0, 0.15);
}

.support {
    padding-bottom: 50px;
}

.support_cat {
    width: 40%;
}

.support_cat_2 {
    float: right;
}

.support_img {
    width: 75px;
}

.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;  line-height: 30px;
}

.db-pricing-eleven ul {  list-style: none;  margin: 0;  text-align: center;  padding-left: 0px;  }

.db-pricing-eleven ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: #52E89E;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}

/*-- HOME STAFF CSS --*/
.pic_ina
{
    height:90px;
    width:30%;
    float:left;
}
.con_ina
{
    height:100px;
    width:67%;
    margin-left:3%;
    float:left;
}
.btn_inr
{
    float:right;
    margine-top:25px;
}

/*-- NEWS CSS --*/

.news {
    margin-top: -5px;
}

.news_img {
    max-width: 500px !important;
}
.news_content {
    padding-top: 20px;
    padding-bottom: 100px;

    word-wrap: break-word;
    font-family: Helvetica;
    font-size: 13px !important;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.news_header h1{
    padding-top: 50px;
    text-align: center;
}

/*-- STAFF CSS --*/

#staff_profiles table{
    border: none;
}

/*-- ACCOUNT CSS --*/

.profile {
    margin-top: 75px;
    margin-left: 100px;
    width: 80%;
    height: 100%;
    padding: 20px 50px;
    background-color: rgba(10, 10, 10, 0.5);
}

.profile_element {
    position: relative;
}

.profile_card {
    height: 150px;
}

.profile_link h5 {
    position: relative;
    margin-top: -90px;

    font-weight: bold;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.profile_link, .profile_link:hover {
    text-decoration: none !important;
}

.profile_head{
    width: 64px;
    margin-top: -50px;
    margin-left: -82px;
    border-radius: 50px;
}


.profile_card_img {
    display: table-cell;
    border-radius: 5px;
    min-width: 128px;
    max-width: 150px;
    width: 100%;
    z-index: 2;
}

/*-- MEDIA QUERIES --*/

@media screen and (max-width: 586px){
    .infos_img {
        display: none;
    }

    .content{
        margin-left: 0px;
        width: 100%;
    }

    .infos p {
        font-size: 10px;
    }

    .infos h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px){
    #vaporis_informations {
        display: inline-block;
        margin-left: -50px;

        min-width: 300px;
        width: 100%;
        max-width: 500px;
        height: 20%;
    }

    #staff_profiles {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .infos_img {
        margin-top: -20px;
    }

    .infos p {
        font-size: 11px;
    }

    .infos h3 {
        font-size: 22px;
    }

    .support_cat {
        width: 100%;
    }

    .support_cat_2 {
    }
}

@media screen and (max-width: 875px) {
    #vaporis_desc {
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    #vaporis_profile_stats {

    }
}